.carousel {
  width: 100%;
  height: auto;
  overflow: hidden;
  justify-content: space-around;
  img {
    max-width: 318px;
    max-height: 218px;
    transition: transform 0.3s;
    border-radius: 0.5rem;
  }
  button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
  }
}
