<div class="roads-container">
  <h1>Find a Route</h1>

  <div class="input-area flex-row">
    <div>
      <h2>from</h2>
      <app-destinations (placeChanged)="fromValue = $event"></app-destinations>
    </div>
    <div>
      <h2>to</h2>
      <app-destinations (placeChanged)="toValue = $event"></app-destinations>
    </div>
  </div>

  <div class="destination-images">
    <app-destination-details [data]="fromValue"></app-destination-details>
    <app-destination-details [data]="toValue"></app-destination-details>
  </div>

  <div class="display-area">
    <app-map-display [from]="fromValue" [to]="toValue"></app-map-display>
  </div>
</div>
