<div class="container">
  <div class="image-container">
    <img src="../../../assets/sign-up.jpg" alt="" />
  </div>

  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <h1>Sign Up</h1>
    <div class="flex">
      <label for="email"> Email:</label>
      <input type="text" id="email" formControlName="email" />
      <div
        *ngIf="
          registrationForm.get('email')?.hasError('email') &&
          registrationForm.get('email')?.touched
        "
      >
        Invalid email format.
      </div>
    </div>

    <div class="flex">
      <label for="password"> Password:</label>
      <input type="password" id="password" formControlName="password" />
      <div
        *ngIf="
          registrationForm.get('password')?.hasError('pattern') &&
          registrationForm.get('password')?.touched
        "
      >
        Password must contain only English characters and numbers and be at
        least 8 characters long.
      </div>
    </div>

    <div class="flex">
      <label for="confirmPassword"> Confirm Password:</label>
      <input
        type="password"
        id="confirmPassword"
        formControlName="confirmPassword"
        (change)="checkPasswords()"
      />
      <div *ngIf="!passwordMatched">Passwords do not match.</div>
    </div>

    <div class="flex">
      <label for="nickname"> Nickname:</label>
      <input type="text" id="nickname" formControlName="nickname" />
      <div
        *ngIf="
          registrationForm.get('nickname')?.hasError('pattern') &&
          registrationForm.get('nickname')?.touched
        "
      >
        Nickname must contain only English characters, numbers, and hyphens.
      </div>
    </div>

    <div class="flex">
      <label for="phoneNumber"> Phone Number:</label>
      <input type="text" id="phoneNumber" formControlName="phoneNumber" />
      <div
        *ngIf="
          registrationForm.get('phoneNumber')?.hasError('pattern') &&
          registrationForm.get('phoneNumber')?.touched
        "
      >
        Phone number must start with '+995' and contain 13 characters.
      </div>
    </div>

    <div class="flex">
      <label for="website"> Website:</label>
      <input type="text" id="website" formControlName="website" />
      <div
        *ngIf="
          registrationForm.get('website')?.hasError('pattern') &&
          registrationForm.get('website')?.touched
        "
      >
        Invalid website URL format.
      </div>
    </div>

    <div class="check">
      <label>
        <input type="checkbox" formControlName="agreement" />
        I have read the <span>agreement</span>
      </label>
    </div>

    <button
      class="submit-btn"
      type="submit"
      [disabled]="registrationForm.invalid"
      *ngIf="!selectedUser"
    >
      Register
    </button>
    <button>Log In</button>
    <ng-container *ngIf="selectedUser">
      <button (click)="saveUser()">Save</button>
      <button (click)="cancelEdit()">Cancel</button>
    </ng-container>
  </form>
</div>
