header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12rem 0 0;

  h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  input {
    width: 40rem;
    border: 2px solid rgb(239, 237, 237);
    outline: none;
    border-radius: 10px;
    background-image: url("../../../../assets/magnifying-glass-solid.svg");
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: left 3% center;

    padding: 1rem 2.5rem;
    &::placeholder {
      color: #999;
    }

    &:focus {
      border: 2px solid #9b8df1;
    }
  }

  select {
    cursor: pointer;
    border: 2px solid rgb(239, 237, 237);
    outline: none;
    border-radius: 10px;
    padding: 1rem;
    border-left: none;
    option {
      font-size: 14px;
      color: #333;
    }
  }
}

.city-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 5rem;
  margin: 5rem;

  .card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 1rem 1rem 1rem;
  }

  .city-card {
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px 0px;
    &:hover {
      cursor: pointer;
      transform: scale(1.02);
      transition: transform 0.3s;
    }

    .author {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
    .avatar {
      width: 32px;
      border-radius: 50%;
      ~ p {
        font-size: 13px;
        margin-top: 10px;
      }
    }
    .cover-image {
      width: 100%;
      height: 200px;
      border-radius: 0.4rem;
    }
    h2 {
      font-size: 0.9rem;
      padding: 0 1rem 0 1rem;
      ~ p {
        padding: 0 1rem 0 1rem;
      }
    }

    :hover {
      cursor: pointer;
    }
    .likes-duration {
      display: flex;
      align-items: center;

      p {
        margin-top: 10px;
        font-size: 13px;
      }
    }
  }
}
.likes {
  width: 40px;
}

.red-button {
  background-color: red;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0 15rem 0;
}

.load-more-button {
  color: #9b8df1;
  padding: 10px 20px;
  border: 1px solid #9b8df1;
  border-radius: 6rem;
  background: none;
  font-size: 1rem;
  font-weight: 600;
  margin: 0 auto;

  cursor: pointer;
  img {
    width: 1rem;
    margin-right: 5px;
  }
}

.add-remove-buttons {
  margin: 0.5rem 0;

  button {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
  }

  .add-button {
    background-color: #8a77f2;
    color: white;
  }

  .remove-button {
    background-color: #f44336;
    color: white;
  }
}

.favorite-button {
  font-style: italic;
  background: none;
  border: none;
  padding: 5px 0;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-bottom: 2px solid #9b8df1;
  margin-left: 5rem;
  display: inline;
  margin-top: 4rem;
}

.favorite-button:hover {
  color: #7460f6;
}
