<app-top-bar></app-top-bar>

<main>
  <header>
    <h1>Trip finder</h1>
    <p>
      Find trips created by other users and get inspired for your next trip!
    </p>
    <div>
      <input
        (input)="filterCity($event)"
        type="text"
        placeholder="Search destinations (Cities only)"
      />
      <select (change)="filterDays()" [(ngModel)]="selectedDays">
        <option value="" selected>Days</option>
        <option>1 Day</option>
        <option>2 Days</option>
        <option>3 Days</option>
        <option>4 Days</option>
        <option>5 Days</option>
        <option>6 Days</option>
        <option>7 Days</option>
      </select>
    </div>
  </header>

  <button routerLink="/favorites">SEE FAV TRIPS</button>
  <div class="city-cards-container">
    <div class="city-card" *ngFor="let city of currentlyDisplayedCards">
      <button
        (click)="toggleCard(city)"
        [ngClass]="{ 'red-button': isCardSaved(city) }"
      >
        {{ isCardSaved(city) ? "remove &#9825;" : "add &#10084;" }}
      </button>

      <button>
        <img src="../../../../../../assets/star-solid.svg" alt="" />
      </button>

      <div (click)="showDetails(city.id)">
        <img class="cover-image" src="{{ city.cover }}" alt="" />
        <h2>{{ city.title }}</h2>
        <p>{{ city.description }}</p>

        <div class="card-footer">
          <div class="author">
            <img class="avatar" src="{{ city.avatar }}" alt="" />
            <p>{{ city.author }}</p>
          </div>

          <div class="likes-duration">
            <p>{{ city.duration }} • {{ city.count }}</p>
            <img class="likes" src="{{ city.likes }}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="center-button">
    <button class="load-more-button" (click)="loadMoreCards()">
      <img src="../../../../assets/spinner-solid.svg" alt="" />
      Load More
    </button>
  </div>
</main>
