.display-area {
  // display: flex;
  // flex-direction: column;
  height: calc(100vh - 180px);
  //   margin-right: 1000px;
  > div {
    width: 30%;
    padding: 8px;
    height: inherit;
    overflow: auto;

    > * {
      margin-bottom: 16px;
    }
  }
}
