<div class="container">
  <div>
    <h2>Find a Restaurant</h2>

    <input #placeInput id="placeInput" placeholder="Enter a place" />
    <button id="searchButton" (click)="searchPlace(placeInput.value)">
      <img src="../../../assets/images/magnifying-glass-solid.svg" alt="" />
    </button>

    <div class="map-container">
      <google-map
        #googleMap
        [height]="'500px'"
        [width]="'850px'"
        [center]="center"
        [zoom]="zoom"
        (mapClick)="moveMap($event)"
        (mapMousemove)="move($event)"
      >
      </google-map>

      <div class="restaurant-data-container">
        <div class="restaurant-data">
          <div *ngFor="let resto of restaurants" class="resto-data">
            <p class="name">{{ resto.name }}</p>
            <address>Address: {{ resto.address }}</address>
            <p *ngFor="let cuisine of resto?.cuisine" class="description">
              {{ cuisine.name }}
            </p>
            <img
              src="{{
                resto?.photo?.images?.medium?.url ||
                  'https://cdn.vox-cdn.com/thumbor/5d_RtADj8ncnVqh-afV3mU-XQv0=/0x0:1600x1067/1200x900/filters:focal(672x406:928x662)/cdn.vox-cdn.com/uploads/chorus_image/image/57698831/51951042270_78ea1e8590_h.7.jpg'
              }}"
              alt=""
            />

            <div class="footer">
              <p class="price">{{ resto.price }}</p>

              <p class="rating" *ngIf="resto.rating">
                &#9733; {{ resto.rating }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="map-data">
      <div>Latitude: {{ display?.lat }}</div>
      <div>Longitude: {{ display?.lng }}</div>
    </div>
  </div>
</div>
