<div class="container">
  <div>
    <h2>Search Restaurants</h2>

    <input #placeInput id="placeInput" placeholder="Enter a place" />
    <button id="searchButton" (click)="searchPlace(placeInput.value)">
      <img src="../../../assets/magnifying-glass-solid.svg" alt="" />
    </button>

    <div class="map-container">
      <google-map
        #googleMap
        [height]="'500px'"
        [width]="'850px'"
        [center]="center"
        [zoom]="zoom"
        (mapClick)="moveMap($event)"
        (mapMousemove)="move($event)"
      >
      </google-map>

      <div class="restaurant-data-container">
        <div class="restaurant-data">
          <div *ngFor="let resto of restaurants" class="resto-data">
            <p class="name">{{ resto.name }}</p>
            <p class="address">{{ resto.address }}</p>
            <p class="description">{{ resto?.cuisine?.description }}</p>
            <img src="{{ resto.photo?.images.small.url }}" alt="" />

            <div class="footer">
              <p class="price">{{ resto.price }}</p>

              <p class="rating" *ngIf="resto.rating">
                &#9733; {{ resto.rating }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="map-data">
      <div>Latitude: {{ display?.lat }}</div>
      <div>Longitude: {{ display?.lng }}</div>
    </div>
  </div>
</div>
