.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  // margin-top: 2rem;
  height: 135%;
}
h2 {
  margin-left: 1rem;
  font-size: 1.6rem;
  text-align: center;
}

input {
  padding: 1rem;
  width: 20rem;
  border: 2px solid rgb(239, 237, 237);
  outline: none;
  border-radius: 10px;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

input:focus {
  border: 2px solid #9b8df1;
}

#searchButton {
  border: none;
  background: none;
  cursor: pointer;
  margin-left: 10px;
  img {
    width: 20px;
    height: 20px;
  }
}

.map-container {
  width: 78%;
}

.map-data {
  display: flex;
  gap: 10px;
  margin-top: 8rem;
}

.restaurant-data-container {
  max-height: 500px;
  overflow-y: auto;
  max-width: 100%; /* Expand the width to its parent's width */
  max-height: 500px;
}
.resto-data {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  max-width: 400px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  img {
    width: 100%;
  }
  p {
    margin: 5px 0;
  }
  .name {
    font-weight: bold;
  }
  .address {
    font-style: italic;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.map-container {
  display: flex;
  gap: 2rem;
}
