$mainViolet: #9b8df1;
$hoverViolet: #8473f4;
$mainDark: #2a3055;
$mainWhite: #fff;

$mobileNavBackground: #dedbf3;

$borderGray: rgb(237, 233, 233);
$txtGray: rgb(134, 134, 134);

$buttonRed: #f44336;
