$hoverViolet: #9b8df1;
$mainViolet: #9a72f9;

$mainDark: #2a3055;
$mainWhite: #fff;

$mobileNavBackground: #dedbf3;

$borderGray: rgb(237, 233, 233);
$txtGray: rgb(134, 134, 134);
$mainPageTxt: #626684;

$buttonRed: #f44336;
$errorMessages: red;
$loadMoreBtn: #665ab3;
$ratingGreen: #28a745;

$gradientPink: #ff66b2;
