header {
  h1 {
    font-size: 1.9rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  p {
    font-size: 1.1rem;
    margin-bottom: 3rem;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15rem;

  input {
    padding: 1rem;
    width: 40rem;
    border: 2px solid rgb(239, 237, 237);
    outline: none;
    border-radius: 10px;
  }

  input:focus {
    border: 2px solid #9b8df1;
  }
}

.city-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 5rem;
  margin: 12rem;

  .city-card {
    width: 250px;

    .author {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
    .avatar {
      width: 45px;
      border-radius: 50%;
    }
    .cover-image {
      width: 100%;
      height: 200px;
      border-radius: 0.4rem;
    }
    h2 {
      font-size: 0.9rem;
    }
    :hover {
      cursor: pointer;
    }
  }
}
.likes {
  width: 40px;
}
