<app-top-bar></app-top-bar>

<main>
  <header>
    <h1>Trip finder</h1>
    <p>
      Find trips created by other users and get inspired for your next trip!
    </p>

    <input
      (input)="filterCity($event)"
      type="text"
      placeholder="Search destinations (Cities only)"
    />
  </header>

  <div class="city-cards-container">
    <div
      class="city-card"
      *ngFor="let city of filteredData"
      (click)="showDetails(city.id)"
    >
      <img class="cover-image" src="{{ city.cover }}" alt="" />
      <h2>{{ city.title }}</h2>
      <p>{{ city.description }}</p>

      <div class="card-footer">
        <div class="author">
          <img class="avatar" src="{{ city.avatar }}" alt="" />
          <p>{{ city.author }}</p>
        </div>

        <div class="likes-duration">
          <p>{{ city.duration }} • {{ city.count }}</p>
          <img class="likes" src="{{ city.likes }}" alt="" />
        </div>
      </div>
      <button routerLink="/roads" (click)="clicked()">add</button>
    </div>
  </div>
</main>
