<header>
  <div class="main-txt">
    <h1>Trip Planner</h1>
    <h2>Your Next Journey, Optimized</h2>
    <p>
      Build, personalize, and optimize your itineraries with our free trip
      planner. Designed for vacations, workations, and everyday adventures.
    </p>

    <button>Start Planning</button>
  </div>
</header>
<app-wave></app-wave>

<section class="main-section">
  <h1>Your <span>Optimized</span> Trip</h1>

  <div class="box">
    <div>
      <h2>The most optimal way of travel</h2>
      <p>
        Craft your perfect itinerary with Trip Planner. select sights, dining,
        and lodging preferences to create the optimal travel plan tailored just
        for you.
      </p>
    </div>

    <img src="../../assets/product1 (1).webp" alt="" />
  </div>

  <div class="box">
    <img src="../../assets/product2.webp" alt="" />
    <div>
      <h2>Get Inspired by Others' Journeys</h2>
      <p>
        Extract valuable travel insights from Instagram reels and TikToks,
        explore the mentioned sights, and effortlessly include them in your own
        adventure with Trip Planner.
      </p>
    </div>
  </div>
</section>
<app-wave></app-wave>
