.form-container {
  background-color: red;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #9b8df1, #ff66b2);
  padding-top: 10rem;
}

.login-form {
  background-color: white;
  width: 350px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  header {
    display: flex;
    width: 100%;
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;

    .header-login {
      background: linear-gradient(to right, #9b8df1, #ff66b2);
      padding: 0.5rem;
      width: 50%;
      border-radius: 4px;
      color: white;
    }
    .header-signup {
      width: 50%;
      padding: 0.5rem;
      border: 1px solid rgb(214, 211, 211);
      border-radius: 4px;
    }
  }
}

.form-group {
  margin: 1rem 0;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.login-button {
  background: linear-gradient(to right, #9b8df1, #ff66b2);
  width: 100%;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-top: 1rem;
}

.login-button:hover {
  background-color: #0056b3;
}

p {
  margin-top: 10px;
}

a {
  color: #ff66b2;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
