<form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      formControlName="email"
      required
      class="form-input"
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      formControlName="password"
      required
      class="form-input"
    />
  </div>
  <button class="login-button" type="submit">Login</button>
  <a routerLink="/register">Sign Up</a>
</form>
