<div class="advantages-container">
  <header>
    <h3>TRIP PLANNER</h3>

    <h1>The Only Tool You'll Ever Need!</h1>

    <p>
      Say goodbye to the stress of planning and hello to personalized
      recommendations, efficient itineraries, and seamless dining experiences.
    </p>
  </header>

  <div class="features">
    <section>
      <div class="icon">🗺️</div>
      <h3>Optimal Route Planning</h3>
      <p>
        Our algorithms analyze your preferences to craft the most efficient
        route, saving you time and effort.
      </p>
    </section>

    <section>
      <div class="icon">🧑‍💻</div>
      <h3>Personalize Your Adventure</h3>
      <p>
        Shape your journey by freely adding, editing, or deleting activities
        from your itinerary.
      </p>
    </section>

    <section>
      <div class="icon">📲</div>
      <h3>Travel Reel Insights</h3>
      <p>
        Harness the power of social media by extracting travel insights from
        Instagram reels and TikToks, and incorporating them into your plans.
      </p>
    </section>

    <section>
      <div class="icon">🦐</div>
      <h3>Local Cuisine Recommendations</h3>
      <p>
        Discover local cuisines and hidden gems recommended by our AI, tailored
        to your taste buds.
      </p>
    </section>
  </div>
</div>

<div class="ocean">
  <div class="wave"></div>
  <div class="wave wave2"></div>
</div>

<div class="ocean2">
  <div class="wave"></div>
  <div class="wave wave2"></div>
</div>

<div class="ocean3">
  <div class="wave"></div>
  <div class="wave wave2"></div>
</div>
<!-- <app-wave class="wave"></app-wave> -->
