@import "../../shared/styles/variables.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    line-height: 4rem;
  }
  .login-container {
    width: 40%;
    height: 700px;
    background: url("../../../assets/images/login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    color: $mainWhite;

    p {
      width: 300px;
      text-align: center;
      font-size: 1.2rem;
      line-height: 1.7rem;
    }
    a {
      background-color: none;
      color: $mainWhite;

      border: none;
      border: 1px solid $mainWhite;
      border-radius: 10rem;
      text-decoration: none;
      padding: 12px 40px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s;
      margin-top: 1.5rem;

      &:hover {
        border-color: #483d8d;
        color: #483d8d;
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 700px;
    padding: 7rem;
    border-radius: 6px;
    .create {
      color: $mainViolet;
    }
    .flex {
      width: 60%;
      label {
        font-weight: bold;
        display: block;
        margin-bottom: 6px;
        color: $mainDark;
      }
    }
    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-top: 6px;
      border: 1px solid $borderGray;
      border-radius: 4px;
      outline: none;
    }
    div {
      color: $errorMessages;
      margin-top: 6px;
    }
    .check {
      margin: 20px 0;
      color: $mainDark;
      input[type="checkbox"] {
        margin-right: 5px;
        transform: scale(1.2);
      }
    }
    button {
      background-color: $mainViolet;
      color: $mainWhite;
      border: none;
      border-radius: 10rem;
      padding: 12px 40px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s;
    }
    .submit-btn:hover {
      background-color: $hoverViolet;
    }
  }
}

@media (max-width: 1150px) {
  .container {
    form {
      padding: 7rem 0rem;
    }
  }
}

@media (max-width: 900px) {
  .container {
    margin: 0;
    flex-direction: column;
    .login-container {
      width: 100%;
    }
    form {
      padding: 2rem 0rem;
      width: 100%;
      margin-bottom: -16rem;
    }
  }
}
