<nav class="top-bar-container flex-row">
  <section
    class="logo-container flex-row"
    routerLink="/"
    [class.active]="activeLink === 'logo'"
    (click)="setActiveLink('logo')"
  >
    <img
      src="../../assets/images/tripplanner-logo-blue.png"
      alt="trip planner logo"
    />
    <span>Trip Planner</span>
  </section>

  <section
    class="trips-container flex-row"
    [class.show-mobile-menu]="showMobileMenu"
  >
    <span
      routerLink="/community"
      [class.active]="activeLink === 'community'"
      (click)="setActiveLink('community')"
      >Community Trips</span
    >
    <span
      routerLink="/roads"
      [class.active]="activeLink === 'roads'"
      (click)="setActiveLink('roads')"
      >Routes</span
    >
    <span
      routerLink="/restaurants"
      [class.active]="activeLink === 'restaurants'"
      (click)="setActiveLink('restaurants')"
      >Restaurants</span
    >
    <span
      routerLink="/hotels"
      [class.active]="activeLink === 'hotels'"
      (click)="setActiveLink('hotels')"
      >Hotels</span
    >
  </section>

  <section class="login-signup" [class.show-mobile-menu]="showMobileMenu">
    <button (click)="toggleLogin()">
      {{ auth.isLoggedInUser() ? "Logout" : "Login" }}
    </button>

    <button *ngIf="!auth.isLoggedInUser()" routerLink="/register">
      Register
    </button>
  </section>

  <img
    class="burger"
    src="../../../../assets/images/bars-solid.svg"
    (click)="showMobileMenu()"
    alt=""
  />

  <div class="mobile-nav-container">
    <div
      [ngStyle]="{ display: isMenuShown ? 'block' : 'none' }"
      class="mobile-nav"
    >
      <section [class.show-mobile-menu]="showMobileMenu">
        <span routerLink="/community" (click)="setActiveLink('community')"
          >Trips</span
        >
        <span routerLink="/roads" [class.active]="activeLink === 'roads'"
          >Routes</span
        >
        <span
          routerLink="/restaurants"
          [class.active]="activeLink === 'restaurants'"
          >Restaurants</span
        >
      </section>

      <section
        class="mobile-menu-buttons"
        [class.show-mobile-menu]="showMobileMenu"
      >
        <button (click)="toggleLogin()">
          {{ auth.isLoggedInUser() ? "Logout" : "Login" }}
        </button>

        <button *ngIf="!auth.isLoggedInUser()" routerLink="/register">
          Register
        </button>
      </section>
    </div>
  </div>
</nav>
