@import "../../../shared/styles/variables.scss";

.top-bar-container {
  padding: 1rem 0;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $mainWhite;
  z-index: 333;

  .logo-container {
    gap: 1rem;
    margin-right: 2rem;
    cursor: pointer;

    img {
      width: 2rem;
    }

    span {
      font-size: 1rem;
      font-weight: 500;
      color: $mainDark;
    }
  }

  .trips-container {
    gap: 2rem;
    margin-right: 20rem;
    color: $mainViolet;
    font-weight: 500;
    display: block;

    span {
      background-color: $mainWhite;
      padding: 0.5rem 1rem;
      border-radius: 20px;
      cursor: pointer;
      font-size: 1rem;

      &:first-child:hover {
        background-color: $mainViolet;
        color: $mainWhite;
      }

      &:not(:first-child) {
        color: $mainDark;
        border-radius: 0;
      }

      &:hover {
        color: $hoverViolet;
      }
    }

    span.active {
      border-bottom: 3px solid $mainViolet;
    }

    span:first-child.active {
      border-bottom: none;

      background-color: $mainViolet;
      color: $mainWhite;
    }
  }

  .login-signup {
    gap: 0.5rem;
    display: block;

    button {
      background: $mainDark;
      font-size: 0.8rem;
      padding: 0.5rem 1rem;
      border-radius: 20px;
      border: 0;
      cursor: pointer;
      color: $mainWhite;
      transform: scale(0.9);
      transition: 0.4s ease-in-out;
      font-weight: 600;

      &:last-child {
        background: $mainViolet;
      }
      &:hover {
        background-color: $hoverViolet;
        color: $mainDark;
      }
    }
  }
  .burger {
    display: none;
  }
}

.mobile-nav,
.mobile-nav-container {
  display: none;
}

@media (max-width: 1150px) {
  .trips-container {
    span {
      display: none;
    }
  }
  .login-signup button {
    display: none;
  }
  .top-bar-container {
    .burger {
      display: block;
      cursor: pointer;
      width: 30px;
    }
  }

  .mobile-nav {
    .show-mobile-menu {
      gap: 2.5rem;
    }
    span {
      cursor: pointer;
      font-size: 1.3rem;
      color: $mainDark;
      font-weight: 500;
      &:hover {
        color: $mainViolet;
      }
    }

    button {
      cursor: pointer;
      background: none;
      padding: 1rem;
      border: 1px solid $mainDark;
      font-size: 1.1rem;
      font-weight: 500;
    }
    section:first-child {
      display: flex;
      flex-direction: column;
    }
    section:last-child {
      display: flex;
      flex-direction: column;
    }
  }

  .mobile-nav-container {
    margin-bottom: 100px;
    background-color: $mobileNavBackground;
    display: block;
    position: absolute;
    min-width: 30%;
    .mobile-nav {
      height: 100vh;
    }

    .mobile-menu-buttons {
      margin-top: 2rem;
      padding-bottom: 100%;
      button {
        background: none;
        border: 1px solid $mainDark;
      }
    }

    top: 101%;
    right: 0%;
    padding: 0 2rem;
    span:first-child {
      padding-top: 1.5rem;
    }
  }
}

@media (max-width: 1150px) {
  .top-bar-container {
    justify-content: space-around;
    .trips-container {
      margin-right: 0;
    }
  }
}
