<nav class="top-bar-container flex-row">
  <section
    class="logo-container flex-row"
    routerLink="/"
    [class.active]="activeLink === 'logo'"
    (click)="setActiveLink('logo')"
  >
    <img
      src="../../assets/images/tripplanner-logo-blue.png"
      alt="trip planner logo"
    />
    <span>Trip Planner</span>
  </section>

  <section class="trips-container flex-row">
    <ng-container *ngFor="let link of navigationLinks">
      <span
        [routerLink]="link.url"
        [class.active]="activeLink === link.name"
        (click)="setActiveLink(link.name)"
      >
        {{ link.title }}
      </span>
    </ng-container>
  </section>

  <section class="login-signup">
    <button (click)="toggleLogin()">
      {{ auth.isLoggedInUser() ? "Logout" : "Login" }}
    </button>

    <button *ngIf="!auth.isLoggedInUser()" routerLink="/register">
      Register
    </button>
  </section>

  <img
    class="burger"
    src="../../../../assets/images/bars-solid.svg"
    (click)="showMobileMenu()"
    alt="burger icon"
  />

  <div class="mobile-nav-container">
    <div
      [ngStyle]="{ display: isMenuShown ? 'block' : 'none' }"
      class="mobile-nav"
    >
      <section [class.show-mobile-menu]="showMobileMenu">
        <span routerLink="/community" (click)="setActiveLink('community')"
          >Trips</span
        >
        <span routerLink="/roads" [class.active]="activeLink === 'roads'"
          >Routes</span
        >
        <span
          routerLink="/restaurants"
          [class.active]="activeLink === 'restaurants'"
          >Restaurants</span
        >
        <span routerLink="/hotels" [class.active]="activeLink === 'hotels'"
          >Hotels</span
        >
      </section>

      <section
        class="mobile-menu-buttons"
        [class.show-mobile-menu]="showMobileMenu"
      >
        <button (click)="toggleLogin()">
          {{ auth.isLoggedInUser() ? "Logout" : "Login" }}
        </button>

        <button *ngIf="!auth.isLoggedInUser()" routerLink="/register">
          Register
        </button>
      </section>
    </div>
  </div>
</nav>
