<nav class="top-bar-container">
  <section
    class="logo-container"
    routerLink="/"
    [class.active]="activeLink === 'logo'"
    (click)="setActiveLink('logo')"
  >
    <img src="../../assets/tripplanner-logo-blue.png" alt="trip planner logo" />
    <span>Trip Planner</span>
  </section>

  <section class="trips-container">
    <span
      routerLink="/community"
      [class.active]="activeLink === 'community'"
      (click)="setActiveLink('community')"
      >Start Planning</span
    >
    <span
      routerLink="/roads"
      [class.active]="activeLink === 'roads'"
      (click)="setActiveLink('roads')"
      >Find Routes</span
    >
    <span
      routerLink="/restaurants"
      [class.active]="activeLink === 'restaurants'"
      (click)="setActiveLink('restaurants')"
      >Find Restaurants</span
    >
  </section>

  <section class="login-signup">
    <button (click)="toggleLogin()">
      {{ auth.isLoggedInUser() ? "Logout" : "Login" }}
    </button>

    <button *ngIf="!auth.isLoggedInUser()" routerLink="/register">
      Register
    </button>
  </section>
</nav>
