<nav class="top-bar-container">
  <section class="logo-container">
    <img src="../../assets/tripplanner-logo-blue.png" alt="trip planner logo" />
    <span>Trip Planner</span>
  </section>

  <section class="trips-container">
    <span routerLink="/roads">Start Planning</span>
    <span routerLink="/community">Community trips</span>
    <span routerLink="/restaurants">Find Restaurants</span>
  </section>
  <section class="login-signup">
    <button routerLink="/login">Login</button>
    <button routerLink="/register">Register</button>
  </section>
</nav>
<app-main-page></app-main-page>
