<button class="back-btn" routerLink="/community">&#8617; Back</button>
<div class="city-cards-container">
  <div class="city-card" *ngFor="let city of favCards">
    <button class="delete-btn" (click)="deleteCard(city.id)">Delete</button>
    <div (click)="showDetails(city.id)">
      <img class="cover-image" src="{{ city.cover }}" alt="" />
      <h2>{{ city.title }}</h2>
      <p>{{ city.description }}</p>

      <div class="card-footer">
        <div class="author">
          <img class="avatar" src="{{ city.avatar }}" alt="" />
          <p>{{ city.author }}</p>
        </div>

        <div class="likes-duration">
          <p>{{ city.duration }} • {{ city.count }}</p>
          <img class="likes" src="{{ city.likes }}" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
