<section class="flex-column">
  <div class="input-btns flex-row">
    <input
      [(ngModel)]="inputName"
      (input)="filterCity($event)"
      type="text"
      placeholder="Find a hotel"
      class="search-input"
    />

    <div class="sort-btns">
      <button (click)="sortHotelAsc()" class="sort-button">Asc &#8645;</button>
      <button (click)="sortHotelDesc()" class="sort-button">
        Desc &#8693;
      </button>
    </div>
  </div>

  <div class="hotel-list">
    <div
      *ngFor="let hotel of filteredHotels"
      class="hotel-card"
      id="hotel-card-container"
    >
      <header class="header">
        <h4 id="hotel-title" class="hotel-name">{{ hotel.hotel_name }}</h4>
        <div>
          <p class="hotel-rating">Rating: {{ hotel.rating_average }}</p>
        </div>
      </header>
      <p class="reviews">Reviews: {{ hotel.number_of_reviews }}</p>

      <p class="hotel-location">{{ hotel.city }}, {{ hotel.country }}</p>
      <app-image-carousel
        [images]="[
          hotel.photo1,
          hotel.photo2,
          hotel.photo3,
          hotel.photo4,
          hotel.photo5
        ]"
      ></app-image-carousel>

      <address class="hotel-address">Address: {{ hotel.addressline1 }}</address>
      <p class="checkin-checkout">
        Check-in: {{ hotel.checkin }} - Check-out: {{ hotel.checkout }}
      </p>

      <p class="hotel-overview">Overview: {{ hotel?.overview }}</p>

      <p>
        <span [innerHTML]="generateStars(hotel.star_rating)"></span>
      </p>

      <p class="hotel-link">
        See prices and more on
        <a [href]="hotel.url" target="_blank">this link</a>
      </p>
    </div>
  </div>
  <button (click)="loadMoreHotels()" class="load-more-btn">
    &#10227; Load More
  </button>
</section>
